.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-name {
  font-size: 28px;
  font-family: "Lato", "sans-serif";
  font-weight: bold;
}

.has-gradient-text {
  background: linear-gradient(#13f7f4, #2af598);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
